@CHARSET "UTF-8";

* {
	font-family: "Microsoft Yahei UI","Microsoft Yahei",Verdana,Simsun,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
	list-style-type: none;
}

body {
	margin: 0;
}

div {
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

#head {
	height: 40px;
	width: 100%;
	background-color: #0066FF;
	color: #FFFFFF;
	position:fixed;
	top: 0;
	left: 0;
}

#side {
	height: 100%;
	width: 180px;
	background-color: #EEEEEE;
	position: fixed;
	top: 40px;
	left: 0;
}

#main {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 40px;
	left: 180px;
	overflow-x: auto;
	overflow-y: scroll;
	margin-top: 20px;
	margin-left: 20px;
}
/* Head */
#head div {
	display: inline-block;
}

#logo {
	height: 100%;
	padding: 0 10px;
}

#title {
	font-size: 150%;
	line-height: 40px;
	padding: 0 5px;
}

.btn {
	background-color: #0066FF;
	padding: 10px;
	position: absolute;
	right: 0;
	bottom: 0;
}

#infor {
	padding: 0 5px;
	line-height: 40px;
	position: absolute;
	right: 40px;
	top: 0;
}

#user span {
	line-height: 40px;
	margin: 0 5px;
}
/* Menu */
ul {
	padding-left: 0;
}

#menu li a{
	font-size: 120%;
	display: block;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
}

#menu li ul li a{
	font-size: 100%;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 0;
}
/* login */
#login {
	position: fixed;
	top: 0;
	right: 0;
	width: 240px;
}
#login #input {
	background-color: #FFF;
	width: 236px;
	height: 70px;
	border-style: solid;
	border-color: #0066FF;
	border-width: 0 2px;
}
#login #input div {
	width: 200px;
	margin: 10px 20px;
}
#login #input div input {
	position: absolute;
	right: 20px;
}
#btnLogin span {
	position: relative;
	background-color: #0066FF;
	color: #FFFFFF;
	line-height: 40px;
	text-align: center;
	width: 200px;
	display: inline-block;
	z-index: 1;
}